<a href="https://colab.research.google.com/github/Abhishek-dev-1/Python_Revision/blob/main/Part3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#recursion
#function calling itself is called recursion
#factorial using recursion
def fact(n):
    if n==0:
        result=1
    else:
        result=n*fact(n-1)
    return result
n=int(input("Enter the value of n : "))
print("The factorial of ",n, "is : ",fact(n))

Enter the value of n : 34
The factorial of  34 is :  295232799039604140847618609643520000000

In [ ]:
#mccarthy function using recursion
def M(n):
  if(n>100):
    return n-10
  else:
    return M(M(n+11))
int(input("Enter the value of n : "))
print("The value of M(n) is : ",M(n))

Enter the value of n : 34
The value of M(n) is :  91

In [ ]:
#nested function
def f1():
    print("Inside f1")
    def f2():
        print("Inside f2")
    f2()
f1()

Inside f1
Inside f2

In [ ]:
#example of nested function
def cube(x):
    c=x*x*x
    print(c)
    def square(x):
      s=x*x
      print(s)
    square(n)
    #print(c)
n=int(input("Enter the value : "))
cube(n)

Enter the value : 10
1000
100

In [ ]:
#lambda function have only a single line
#syntax
# lambda arguments:expression
#example
sum=lambda x,y:x+y
print("Sum= ",sum(10,20))

Sum=  30

In [ ]:
#lambda function as an argument to a function
def fun(f,n):
  print(f(n))
twice=lambda x:x*2
thrice=lambda x:x*3
fun(twice,5)
fun(thrice,4)

10
12

In [ ]:
#lambda function to find sum of natural number from 1 to 10
sum=lambda x:x*(x+1)/2
print("Sum= ",sum(10))

Sum=  55.0